@charset "utf-8";

/*html {
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background: #4d5dfb;
	background-repeat: no-repeat;
	background: -webkit-linear-gradient(315deg, #4d5dfb 0%, #08c8f6 74%);
	background: -moz-linear-gradient(315deg, #4d5dfb 0%, #08c8f6 74%);
	background: -ms-linear-gradient(315deg, #4d5dfb 0%, #08c8f6 74%);
	background: -o-linear-gradient(315deg, #4d5dfb 0%, #08c8f6 74%);
	background: linear-gradient(315deg, #4d5dfb 0%, #08c8f6 74%);
}*/
body {background: #08c8f6; background: linear-gradient(315deg, #4d5dfb 0%, #08c8f6 74%) fixed, #08c8f6; color: #fff;}

input:-ms-input-placeholder {color: #aaa;}
input::-webkit-input-placeholder {color: #aaa;}
input::-moz-placeholder {color: #aaa;}

header {background: #6200ee;}

#search-bar-input {background: #ffffff; color: #000;}

#search-bar-btn {background: #6200ee;	color: #fff;}

/*nav {background: #2c006c;}*/
nav {background: #9d46ff;}
nav .nav-menu #accordion p {border-bottom: solid 1px #6200ee;}
nav .nav-menu h3:hover {background: #6200ee;}
nav .nav-menu #accordion p:hover {color: #6200ee;}

/*main m-con*/
main .m-con2 .sel-date input[type='button'],
main .m-con3 .sel-date input[type='button'] {background: #6200ee; color: #fff;}
main .m-con2 .sel-date input[type='button']:active,
main .m-con3 .sel-date input[type='button']:active {background: #b9fb05; color: #6200ee;}
/*main rbox*/
main .rbox::after {background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);}
main .rbox::before {background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);}
main .rbox-arrow span {color: #b9fb05;}

main .rbox-rank-bg {border-bottom: 100px solid #6200ee;}
/*main sbox*/
main .sbox::after {background: linear-gradient(45deg, #ffd800, #0cbcf2, #9bf2e4, #c88eea, #ed74dd, #fff68f);}
main .sbox::before {background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);}
/*main .sbox::after {background: linear-gradient(45deg, #7ee8fa, #eec0c6, #A9C9FF, #FFBBEC);}
main .sbox::before {background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);}*/
main .sbox-list-bg {border-bottom: 100px solid #9d46ff;}
/*main movie-show*/
main .movie-show {background: rgba(0, 0, 0, 0.9);}
main .movie-show-close span {background: #6200ee; color: #fff; border: 2px solid #fff;}
main .movie-show-desc {background: #6200ee;}
main .movie-show-desc li:nth-child(2) {border-bottom: 4px solid #b9fb05;}
main .movie-show-desc .movie-link {border: 2px solid #fff;}

/*쿠팡문구*/
.coupang-text {color: #0047ff}

/*맨위로 버튼*/
#top-btn {background: rgba(0, 0, 0, 0.8);	border: 2px solid #b9fb05; color:#fff;}
footer {background: #6200ee;}