@charset "utf-8";
@import url(normalize.css);
@import url(color.css);
@import url(mediaquery.css);
@import url(scroll.css);
@import url(neoneffect.css);

html {
	font-size: 10px;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

body {
	position: relative;
}

input {
	outline: none;
}

button {
	outline: none;
	cursor: pointer;
}

.ui-icon-circle-arrow-e {
	/*아코디언 닫혀 있을때 아이콘*/
	background: url('../img/icon_arrow_down.png') no-repeat;
	background-size: 14px;
	width: 14px;
	height: 14px;
}

.ui-icon-circle-arrow-s {
	/*아코디언 열려 있을때 아이콘*/
	background: url('../img/icon_arrow_up.png') no-repeat;
	background-size: 14px;
	width: 14px;
	height: 14px;
}

.ui-icon-circle-arrow-e.ui-icon,
.ui-icon-circle-arrow-s.ui-icon {
	float: right;
	margin-top: 14px;
}

.ui-state-focus {
	outline: none;
}

/*header*/
header {
	width: 100%;
}

header .h-con {
	position: relative;
	width: 100%;
	max-width: 800px;
	height: 50px;
	padding: 10px 20px 10px 60px;
	margin: auto;
	box-sizing: border-box;
}

header #header-logo img {
	height: 30px;
}

header #menu-open-btn {
	position: absolute;
	top: 10px;
	left: 20px;
	font-size: 30px;
	cursor: pointer;
}

#search-bar-box {
	height: 30px;
	width: 100%;
	min-width: 200px;
}

#search-bar-input {
	float: left;
	width: 78%;
	margin-right: 2%;
	padding: 0 6px;
	border: 0px;
	height: 30px;
	line-height: 100%;
	outline: none;
}

#search-bar-btn {
	float: right;
	width: 20%;
	height: 30px;
	line-height: 100%;
	box-sizing: border-box;
	border: solid 2px;
}

/*네비게이션*/
nav {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0;
/*	left: -400px;*/
/*	width: 400px;*/
	z-index: 3;
}

/*
nav.on {
	left: 0;
}
*/

nav h3 {
	font-weight: 400;
}

nav #menu-close-btn {
	position: absolute;
	top: 10px;
	left: 20px;
	font-size: 30px;
	cursor: pointer;
	z-index: 4;
}

nav .logo-title {
	margin: 20px 0;
	text-align: center;
}

nav .logo-title img {
	width: 75%;
	max-width: 165px;
}

nav .nav-menu {
	padding: 0 20px;
}

nav .nav-menu div {
	line-height: 40px;
}
nav .nav-menu #accordion h3 {
	position: relative;
	cursor: pointer;
}
nav .nav-menu #accordion h3 span {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
}
nav .nav-menu #accordion p {
	padding: 0 30px;
}
nav .nav-menu #accordion p a {
	display: block;
}
nav .nav-menu #accordion p,
nav .nav-menu #accordion p i {}
nav .nav-menu #accordion p:hover i {transform: rotateZ(-30deg);}
nav .ct-day {
	margin: 20px 0 10px;
	padding: 0px 10px;
	border: solid 2px;
	box-shadow: 1px 1px 5px rgba(119, 119, 119, 0.5), inset 1px 1px 5px rgba(119, 119, 119, 0.5);
	text-align: center;
}

/*메인 MAIN*/
/*메인 MAIN 공통*/
main {
	width: 100%;
	max-width: 800px;
	min-height: 770px;
	box-sizing: border-box;
	margin: auto;
	padding: 20px;
	text-align: center;
}

main .subtitle {
	text-shadow: 1px 1px 5px #777;
}

main .subtitle-blank {
	margin-bottom: 25px;
}

 main h2 img {
	height: 30px;
	vertical-align: middle;
	transform: translateY(-2px);
/*	margin-right: 10px;*/
}

/* rbox 디자인 */
main .rbox {
	position: relative;
	width: 100%;
	height: 100px;
	margin-top: 20px;
	text-align: left;
	cursor: pointer;
}

main .rbox::after {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	z-index: -1;
}

main .rbox::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -2;
	filter: blur(40px);
}

main .rbox .rbox-rank {
	float: left;
	margin-right: 5px;
	width: 70px;
	height: 100px;
/*	background: url(../img/poster.jpg) no-repeat;*/
}

main .rbox .rbox-title {
	padding: 16px 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3), 1px -1px 2px rgba(0, 0, 0, 0.3), -1px 1px 2px rgba(0, 0, 0, 0.3), 1px 1px 2px rgba(0, 0, 0, 0.3);
}

main .rbox .rbox-date {
	margin: 0 0 4px 80px;
}

main .rbox .rbox-num {
	margin-left: 80px;
}

main .rbox-rank-bg {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
}

main .rbox-rank-gap {
	position: absolute;
	bottom: 10px;
	right: 20px;
	font-style: italic;
}

main .rbox-arrow span {
	position: absolute;
	bottom: 40px;
	font-style: italic;
	display: block;
	animation: arrow 1.5s linear infinite;
}

main .rbox-arrow span:nth-child(1) {
	animation-delay: 0s;
}

main .rbox-arrow span:nth-child(2) {
	animation-delay: 0.5s;
}

main .rbox-arrow span:nth-child(3) {
	animation-delay: 1s;
}

@keyframes arrow {
	0% {
		right: 40px;
		opacity: 1;
		transform: scale(1);
	}

	100% {
		right: 10px;
		opacity: 0;
		transform: scale(1);
	}
}

/*main .m-con*/
main .m-con1 .date {
	margin-top: 12px;
}
main .m-con2 .sel-date,
main .m-con3 .sel-date {
	position: relative;
	margin-top: 12px;
}
main .input-date-box {}
main .m-con2 .sel-date input,
main .m-con3 .sel-date input {
	margin-top: 4px;
	padding: 5px 20px;
	line-height: 24px;
}
main .m-con2 .sel-date input[type='date'],
main .m-con3 .sel-date input[type='date'] {
		position: relative; 
		margin: 0px 10px;
		width: 160px;
		height: 24px;
		text-align: center;
}
main .m-con2 .sel-date input[type='button'],
main .m-con3 .sel-date input[type='button'] {
	cursor: pointer;
	text-align: center;
}
main input[type="date"]::-webkit-calendar-picker-indicator {
        position: absolute;
        left: -20px;
        right: 0px;
        top: 0;
	      bottom: 0;
				height: 30px;
        color: transparent;
        cursor: pointer;
        width: auto;
				background: transparent;
}

input[type=date]::-webkit-calendar-picker-indicator:hover { cursor: pointer;}

input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

main .m-con3 .cont3-desc {margin: 50px 0 70px;}
main .m-con3 .cont3-desc img {
	max-width: 311px;
	width: 100%;
}

/*m-con4 : search - sbox디자인*/
main .sbox {
	position: relative;
	width: 100%;
	height: 100px;
	margin-top: 20px;
	text-align: left;
	cursor: pointer;
}

main .sbox::after {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	z-index: -1;
}

main .sbox::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -2;
	filter: blur(40px);
}

main .sbox .sbox-bull {
	float: left;
	margin-right: 5px;
	width: 70px;
	height: 100px;
}

main .sbox-bull-p {
	position: absolute;
	top: 6px;
	left: -6px;
	font-size: 88px;
}
main .sbox-bull-p + img {
	position: absolute;
	top: 21px;
	left: 8px;
}
main .sbox .sbox-title {
	padding: 16px 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3), 1px -1px 2px rgba(0, 0, 0, 0.3), -1px 1px 2px rgba(0, 0, 0, 0.3), 1px 1px 2px rgba(0, 0, 0, 0.3);
}

main .sbox .sbox-date {
	margin: 0 0 4px 80px;
}

main .sbox .sbox-pd {
	margin-left: 80px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

main .sbox-list-bg {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
}

main .sbox-show-click {
	position: absolute;
	bottom: 10px;
	right: 20px;
	font-style: italic;
	font-size: 1.4rem;
}
main .sbox-desc {
	display: none;
}

/*메인 movie-show*/
main .movie-show {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	z-index: 3;
}
main .movie-show-box {
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	max-width: 600px;
}

main .movie-show-close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}
main .movie-show-close span {
	line-height: 50px;
	padding : 6px 12px;
}
main .movie-show-desc {
	padding: 20px;
	text-align: left;
	border-radius: 3px;
}
main .movie-show-desc ul {
	margin-top: 60px;
}
main .movie-show-desc li {
	line-height: 30px;
}
main .movie-show-desc li:nth-child(1) {
	font-size: 2.6rem;
	font-weight: bold;
	line-height: 3.2rem;
}
main .movie-show-desc li:nth-child(2) {
	font-size: 1.8rem; 
	line-height: 3.2rem;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
main .movie-show-desc .movie-poster {
	position: relative;
	top: 24px;
	left: 10px;
	width: 130px;
	height: 130px;
	border: 2px solid #000;
}
main .movie-show-desc .movie-poster img {
	width: 130px;
	height: 130px;
	float: left;
}
main .movie-show-desc .movie-poster::after {
	content: url(../img/poster_frame1.png);
	position: absolute;
	top: -72px;
	left: -20px;
	width: 134px;
	height: 168px;
}

main .movie-show-desc .movie-link {
	padding: 4px 12px;
	text-align: center;
	margin: 20px;
}

main .movie-show-desc .movie-link a {
	display: block;
}

/*메인 배너1*/
main .m-banner .banner-design {
	width: 100%;
	height: 100px;
	font-size: 0;
	margin-top: 20px;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}
main .m-banner .banner-design a {display: block; line-height: 100px;}

main .m-banner .banner-design img {
	width: 100%;
	max-width: 300px;
	vertical-align: middle;
}

main .m-banner .banner-1 {background: #D9EBFF;}
main .m-banner .banner-2 {background: linear-gradient(180deg, #fff4e0 70%, #ffee9c 30%);}
main .m-banner .banner-3 {background: url('../img/banner/banner3-img1.png'), linear-gradient(45deg, #FFDEE9 0%, #B5FFFC 100%);}
.coupang-text {font-size: 1.2rem;}

/*서브 배너*/
.sub-banner.cp-mobile {background-color: #FF3CAC; background-image: linear-gradient(210deg, #FF3CAC 0%, #784BA0 50%, #0097ff 100%);}
.sub-banner.cp-apple {background: url('../img/banner/banner3-img1.png'), linear-gradient(45deg, #FFDEE9 0%, #B5FFFC 100%);}
.sub-banner {
	position: relative;
	width: 100%;
	height: 100px;
	margin-top: 30px;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}
.sub-banner.sub-banner-show {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}
.sub-banner a {display: block; line-height: 100px;}
.sub-banner p {
	position: absolute;
	left: 5px;
	top: 0px;
	height: 28px;
	line-height: 28px;
	font-size: 18px;
}
.sub-banner img {
	width: 100%;
	max-width: 300px;
	vertical-align:middle;
}

/*맨위로 버튼*/
#top-btn {
	position: fixed;
	bottom: 30px;
	right: 16px;
	font-weight: bold;
	font-size: 20px;
	padding: 4px 5px;
	height: 24px;
	width: 24px;
	line-height: 24px;
	border-radius: 50%;
	cursor: pointer;
	z-index: 9;
}
/*푸터*/
footer {
	margin-top: 20px;
	text-align: center;
	padding: 10px 13px;
	font-size: 1.4rem;
}

footer #btn-save {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	opacity: 1;
	background: #efefef;
	border: 1px solid #fff;
	border-radius: 3px;
	width: 200px;
	height: 23px;
	margin: 10px auto;
	cursor: pointer;
}

footer #btn-save:active {
	background: #aaa;
}

footer address {
	font-style: normal;
	line-height: 20px;
}

footer .btn-share button {
	margin: 5px 0 15px 0;
	border-radius: 3px;
	overflow: hidden;
	cursor: pointer;
	height: 20px;
	line-height: 20px;
	padding: 0px 5px 0px 25px;
}
