@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Yesteryear&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');*/

body {font-family: 'Noto Sans KR', sans-serif; font-weight: 400; font-size: 1.6rem;}
/*body {font-family: 'Nanum Gothic', sans-serif; font-weight: 400; font-size: 1.6rem;}*/

h1, h2, h3, h4 {font-weight: 700;}

main .rbox .rbox-rank p {
	font-size: 6rem;
	font-family: 'Yesteryear', sans-serif;
}