@charset "utf-8";
/*@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');*/

main .rbox .rbox-rank p {
	--interval: 1s;
	display: block;
	text-shadow:
		0 0 10px var(--color1),
		0 0 20px var(--color2),
		0 0 40px var(--color3),
		0 0 80px var(--color4);
	will-change: filter, color;
	filter: saturate(60%);
	animation: flicker steps(100) var(--interval) 1s infinite;
	color: lightyellow;
	--color1: yellow;
	--color2: lime;
	--color3: green;
	--color4: mediumblue;
/*	font-size: 6rem;
	font-family: Yesteryear;*/
}

main .rbox .rbox-rank p {
	text-align: center;
	margin-top: 24px;
}

main .sbox-bull-p {
	--interval: 1s;
	text-shadow:
		0 0 10px var(--color1),
		0 0 20px var(--color2),
		0 0 40px var(--color3),
		0 0 80px var(--color4);
	will-change: filter, color;
	filter: saturate(60%);
	animation: flicker steps(100) var(--interval) 1s infinite;
	color: lightyellow;
	--color1: yellow;
	--color2: lime;
	--color3: green;
	--color4: mediumblue;
}

@keyframes flicker {
	50% {
		color: white;
		filter: saturate(200%) hue-rotate(20deg);
	}
}
